
.discspace{
  position: relative;
  bottom:173px;
  left:50px;
  z-index: 2;
  background-color:hotpink;
  border:1px solid black;
  height: 50px;
  width:170px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
   
  }
  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
  } 
  .box1
  {
  width: 160px;
  height: 50px;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 140px;
  left: 68px; 
 bottom: 40px;
  }
 

  .box2
  {
  width: 90px;
  height: 50px;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 90px;
  left: 95px;
  bottom: 10px;
  }

  .box3
  {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 40px;
  left: 110px;
  bottom: 10px;
  }
  .blankspace
  {
      background-color: white;
      height:225px;  
      
  }
 